.fotos{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-left: 320px;
    margin-top: 70px;
    border: 1px solid black;
}
.boton-detalle{
    text-decoration: none;
    background: aliceblue !important;
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
}
.btn-card{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}