.detail-container {
    width: 100%;
    display: flex;
}

.detail-image {
    width: 65%;
}

.detail-image img {
    width: 100%;
}

.detail-info {
    width: 35%;
    padding: 60px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.detail-title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
    
}

.detail-title h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-right: 25px;
    font-size: 30px;
    margin-top: 0px;
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
}

.detail-info p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

.detail-info span {
    text-align: left;
    font-size: 14px;
    color: #b5b3b3;
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
}

.reserva{
    margin-top: 20px !important;
    display: flex !important;
    align-content: center !important;
    padding-bottom: 10px !important;
    background-color: black !important;
    color: #b5b3b3 !important;
}
