.count-item{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
}
.personas{
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
    margin-top: 10px;
}