.navbar {
    width: 100%;
    display: flex;
}
.container-logo {
    width: 115px;
}
.container-logo img {
    width: 100%;
}
.header-primary {
    background: black !important;
    box-shadow: none !important;
    border-bottom: 1px solid #000;
}
.header-primary .navbar li {
    margin-left: 12px;
    list-style: none;
}
.header-primary .navbar .navbar__btn {
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
    text-transform: none;
    font-weight: 400;
    font-size: 20px;
    color: white;
}
.header-primary .navbar .navbar__btn:hover {
    font-weight: 600;
}
.header-primary .navbar .navbar__btn:hover:before {
    width: 85%;
}
.header-primary .navbar .navbar__btn:before {
    content: "";
    position: absolute;
    width: 0;
    transition: width 0.3s ease;
    height: 1px;
    background: white;
    bottom: 5px;
}